* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: start;
  justify-items: center;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

form button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

a {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  background-color: #218838;
}

.container {
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
}

ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}

.btn_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_div .back {
  background-color: red;
  color: white;
}
